<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801830076555-9mebkhuj9p28dsg8a9kp67rgcmhf691k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801830076555-9mebkhuj9p28dsg8a9kp67rgcmhf691k</string>
	<key>API_KEY</key>
	<string>AIzaSyAu8ACRN5C7ww0TJQrdHEOp0ekGPgClLIM</string>
	<key>GCM_SENDER_ID</key>
	<string>801830076555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTest</string>
	<key>PROJECT_ID</key>
	<string>fir-test-2488a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-2488a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801830076555:ios:0e52e6eb5e9f6e4cf6148e</string>
</dict>
</plist>